# Dependencies
node_modules/
.pnpm-store/
build/
.svelte-kit/
.output/

# Rust
src-tauri/target/

# Environment & secrets
.env
.env.*
!.env.example

# IDE & OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Logs
*.log

# Tauri
src-tauri/gen/
